temp/
__pycache__/
build/
*.swp
*.swo
code/bash-bin.bin/bsd-write
code/bash-bin.bin/csc
code/bash-bin.bin/kgp
code/bash-bin.bin/mariadb
code/bash-bin.bin/myencrypt.elf
code/bash-bin.bin/n97_encdec.elf
code/bash-bin.bin/removeHole.elf
code/bash-bin.bin/u1804-notify-send
code/like-useful-sglang_kernel_src/answer_sgl.md
code/like-useful-sglang_kernel_src/claude.txt
code/like-useful-sglang_kernel_src/curl-batch.md
code/llm_learn/transformers
